@CHARSET "UTF-8";


/************** LAYOUT ****************/
#wrap:after {display:block;content:"";clear:both;}
#wrap {
	width: 1190px;
	margin:auto;
	padding: 20px 20px 60px 20px;
	box-sizing: border-box;
}

div#wrap {}
/* 표준 너비 1280px 기준 */
.lnb-area {
	float:left;
	width:200px;
	margin-right:20px;margin-top:20px;
	border:1px solid #ccc;

}
.contents {
	float:left;
	padding-top:20px;
	width: 930px;
}
#content2.contents {width:950px!important}
.contents.has-right {
	width:730px;
	margin-right:20px;
}
.right-area {
	float:left;
	width:200px;
	margin-top:20px;
	border:1px solid #ccc;
}



/************** BOARD ****************/

/* (board common) */
.board {
	
}

/* board button */
button {
	min-height:25px;
	min-width:60px;
	line-height:25px;
	font-family:inherit;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
  border-width:1px;border-radius:3px;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
  color: #333;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
}
/* (heading-page) */
.heading-page {
	margin: 0 0 25px;
	padding: 12px;
	font-size:16px;font-weight:700;
	font-family:Verdana,"맑은고딕",MalgunGothic,"돋움",Dotum,sans-serif;
	/* border: 2px solid #D7EDE9; */
	box-shadow: 2px 2px 6px #E0E0E0;
	border-radius: 5px;
	color: #00624F;
	
	
}

/* (title-board) */
.title-board {
	position:relative;
	padding-left:32px;
	margin:0 0 10px -8px;
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	color: #1DA0A7;
}
.title-board:before {
	display:block;content:"";
	position:absolute;top:0;left:0;
	width:32px;height:32px;
	background: url(../img/bul_title_board.png) 0 -7px no-repeat;
}
/* (board-form) */
.board-form {
	margin-bottom:10px;
}
.board-form .left {float:left}
.board-form .right {float:right}
.board-form:after {display:block;content:"";clear:both}
/* (board-list) */
#wrap .board-list {
	width: 100%;
	margin:auto;
	font-size:13px;
	border-spacing:0;
	border-collapse:collapse;
	border:1px solid #ccc;
	color:#333;
	/* border-radius: 11px; */
}
#wrap .board-list td , #wrap .board-list th {
	padding:5px;
}
#wrap .board-list thead, #wrap .board-write th {
	font-weight:700;
	text-align:center;
}
#wrap .board-list thead th,#wrap .board-list thead td,
#wrap .board-write th,#wrap .board-detail th {
	border: 1px solid #00856B;
	background-color: #0eb493;
	color: #fff;
}
#wrap .board-list tbody > tr > td.num,
#wrap .board-list tbody > tr > th.num {
	/* 첫번째 글번호 컬럼 */
	font-family:Verdana, "돋움", sans-serif;
	font-size:11px;
	background-color: #F4F6F5;
	text-align:center;
	color:#666;
}
th {
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-color:#ccc;
}
.board-list thead td,.board-list thead th {
	background-color:#f1f1f1;
}

/* ( board-write ) */
.board-write th {
	text-align:right;
	background-color: #F4F6F5;
}
/* ( board-detail ) */
#wrap .board-detail {
	/* margin-top:20px; */
	font-family:Tahoma,"돋움",Dotum,sans-serif;
	font-size:12px;
	border: 1px solid #00856B;
	border-top-width: 3px;
}
#wrap .board-detail td, #wrap .board-detail th {padding:6px}
#wrap .board-detail th {
	padding-right:10px;
	border: 1px solid #00856B;
	background-color: #0eb493;
	text-align:right;
	color: #fff;
}
#wrap .board-detail td {
	border-right-color:#00856B;
	border-bottom-color: #BBD1C9;
}
#wrap .board-detail td:last-child {border-right:0 none}
#wrap .board-detail tbody.info td {background-color: #F8F8F8;}
#wrap .board-detail .board-detail-title {font-weight:700}
#wrap .board-detail .board-detail-article {
	padding:0;	
	color:#333;
	border-spacing: 0;
	vertical-align: top;
	border-bottom-color: #00856B;
}
#wrap .board-detail .board-detail-article > div {
	/* 본문 높이조절 : min-height  */
	min-height: 235px;
	
	max-height:500px;
	overflow-y:auto;
	margin:0;padding:17px;
	box-sizing: border-box;
}
a {
	color : black;
}
#wrap .board-detail .board-detail-article div div {
	/* 본문 높이조절 : min-height  */
	min-height:200px;
	
	width: 700px;
	line-height:18px;
	word-break:break-all;
	white-space:pre-wrap;
}



/*
.board-list {
	color:red
}
.board {
	color:blue;	
}

//위의 2가지 경우를 무시하고, 아래 CSS가 적용됨
.board-list.board {
	color:green;
}

*/


/* paging */
.paging {
	margin-top: 15px;
	text-align:center;
}
.paging ul {display:inline-block}
.paging li, .paging ul {list-style:none;margin: 0 10px;padding: 0;}
.paging button[class^="paging-"] {
	display:inline-block;
}
.paging li {
	display:inline-block;
	margin: 0 2px;
	font-size: 12px;
	color: #333;
	cursor:pointer;
}
.paging li.now a {
	color:green;
}


/* button-div (left,center,right) */
.button-div {
	padding-top:15px;
}
.button-div:after {content:"";display:block;clear:both;}
.button-div .left {float:left}
.button-div .right {float:right}
.button-div button {margin-left:8px}
.button-div button:first-child {margin-left:0}