@charset "utf-8";
/* 아이콘  */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* 웹폰트  */



/************************** [ RESET(NORMALIZE) ] *********************************/
/* 아래부터 태그가 기본적으로 가진 CSS 초기화 부분 (reset) */
html,body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,caption,tr,td,th,p,form,fieldset,legend,label,button,input,select,textarea,figure,figcaption,b{margin:0;padding:0}
ul,ol{list-style:none}
a:link,a:visited,a:active{text-decoration:none; color:#222}
fieldset,img{border:0}
legend,caption{display:none}
a{display:block}


/************************** [ INITIALIZE(PRIMARY DESIGN) ] *********************************/
/* 아래부터 초기 디자인 셋팅 부분 (이니셜라이즈) */
body {
	/* Verdana,맑은고딕으로 선언했기 때문에 영문,숫자는 Verdana 폰트로, 한글은 맑은고딕으로 출력됨 */
	font-family:Verdana,"맑은고딕",Dotum,simsun,Arial, Geneva, Helvetica, sans-serif,"Apple-Gothic","애플고딕","Droid Sans";
	font-size: 12px; line-height: 1.5;
	color: #888;
}
button, input, select, option, textarea, a {
	/* font-family:inherit : 폰트 패밀리를 부모로부터(여기선 body) 상속(inheritance) 받게됨 */
	font-family:inherit;
	font-size:inherit;
	color:inherit;
} 
/* ( table ) */
#wrap table {
	width: 100%;
	margin:auto;
	font-size:13px;
	border:1px solid #ccc;
	border-spacing:0;
	border-collapse:collapse;
	color:#333;
}
#wrap table td , #wrap table th {
	padding:5px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	border-color:#ccc;
}
#wrap table th {
}


/************************** [ GLOBAL DESIGN ] *********************************/
/* 아래부터 사이트 전역에서 쓰이는 디자인 클래스들 모음 */
/* button-div (left,center,right) */
.button-div {
	padding-top:15px;
}
.button-div:after {content:"";display:block;clear:both;}
.button-div .left {float:left}
.button-div .right {float:right}
.button-div button {margin-left:8px}
.button-div button:first-child {margin-left:0}

/************************** [ DESIGN ] *********************************/
/* 아래부터 사용자 커스터마이징 디자인 셋팅 부분 */
/************** { LAYOUT } ****************/
#wrap:after {display:block;content:"";clear:both;}

#wrap {
	width: 1190px;
	margin:auto;
	padding: 20px 20px 60px 20px;
	box-sizing: border-box;
}
/* header */
.navbar {max-height:75px
}
.navbar-nav {
    position: relative;
    top: 10px;
}
.navbar-nav li:before {
	position:absolute;top:50%;
	display:block;content:"";
	width: 1px;height:10px;
	margin-top:-5px;
	background-color: #087761;
}
.navbar-nav li:first-child:before {display:none}
.navbar-nav li a {
	font-size:14px; line-height:14px;
	letter-spacing: -.2px;
	font-weight:700;
	color: #535353;
}
.navbar-nav li a:hover {
	background-color:transparent!important;
	color: #027C5D;
}
/* 표준 너비 1280px 기준 */
.lnb-area {
	float:left;
	width:200px;
	margin-right:20px;margin-top:20px;
/* 	border:1px solid #ccc; */

}
.contents {
	float:left;
	padding-top:20px;
	width: 930px;
}

#content2.contents {width:950px!important}

.contents.has-right {
	width:730px;
	margin-right:20px;
}
.right-area {
	float:left;
	width:200px;
	margin-top:20px;
	border:1px solid #ccc;
}




/************** { MAIN } ****************/

.bmg {
  
   background-repeat: repeat-y; 
   background-position: top left, top right; 
   width: 600px; 
   height: 200px; 
   border: 3px solid #000000; 
} 
.main-text {
	position: absolute;
	top: 50px;
	width: 96.66666666666666%;
	color: #FFF;
}

.btn-min-block {
	min-width: 170px;
	line-height: 26px;
}

.btn-clear {
	margin-right: 15px;
	border-color: #FFF;
	border-width: 2px;
	color: #FFF;
}

.btn-clear:hover {
	background-color: #6699CC;
	color: #000;
}
.arrowalign {top: 50%;}
.arrowalign:hover {vertical-align: middle;}
.carousel-control {
	color: #fff;
	top: 50%;
	bottom: auto;
	padding-top: 0px;
	width: 30px;
	height: 30px;
	text-shadow: none;
	opacity: 0.9;
}

/* ( footer ) */

.footer {
	margin: 0 auto;
	padding-top: 80px;
	height: 200px;
}
/* ( LOGIN ) */
.porm-group {
    float: right;
    position: relative;top: 11px;
    padding: 13px;
    border: 1px solid #A6CBCB;border-radius:5px;
    background-color: rgba(152, 234, 230, 0.06);
}
.porm-group label {
    margin-right: 4px;
    color: #333;
}
.porm-group label[for="mempwd"] {margin-left:10px}
.porm-group input {
    height: 25px;width: 110px;
    border: 1px solid #B3B3B3;
    text-indent: 5px;
}
.porm-group button {
    text-shadow: none;
}
/* ( user-name ) */
.user-name {
	position:relative;
	margin-left: 10px;
	font-size: 13px;
	padding-left:20px;
	border: 2px solid #95CFDB;
	border-radius: 7px;
	top: 8px;
	box-shadow: 1px 1px 3px #D8D8D8;
	color: #333;
}
.user-name li strong {color: #00787F;}
.user-name li {
	line-height:42px
}
.user-name li > span {
	vertical-align:middle;
}
.user-name a {padding:0}
.user-name:after {
	display:block;content:"";
	position:absolute;
	top: 8px;left:0;
	width:1px;
	height: 25px;
}
.user-name:last-child {
	padding-left: 34px;
	background: rgba(255, 255, 255, 0.81) url(../img/ico-person.png) 12px center no-repeat;
	background-size:20px 20px;
}
.user-name li:before {
	display:none
}

/************** { JOIN } ****************/
.page-header {
	text-align: center;
}


.dhpwd{
	display: none;
}


/*social buttons*/
.btn-social {
	color: white;
	opacity: 0.9;
}

.btn-social:hover {
	color: white;
	opacity: 1;
}

.btn-linkedin {
	background-color: #0e76a8;
	opacity: 0.9;
}

.resume{
	padding-top: 20px;
}


/* resume stuff */
.bs-callout {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #eee;
	border-image: none;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	margin-bottom: 5px;
	padding: 20px;
}

.bs-callout:last-child {
	margin-bottom: 0px;
}

.bs-callout h4 {
	margin-bottom: 10px;
	margin-top: 0;
}

.bs-callout-danger {
	border-left-color: #d9534f;
}

.bs-callout-danger h4 {
	color: #d9534f;
}

.resume .list-group-item:first-child, .resume .list-group-item:last-child
	{
	border-radius: 0;
}

/*makes an anchor inactive(not clickable)*/
.inactive-link {
	pointer-events: none;
	cursor: default;
}

.resume-heading .social-btns {
	margin-top: 15px;
}


.btn-group{ 
	padding-top: 5px;
	
}

.profileimg{
	text-align: center;
}

@media ( max-width : 992px) {
	.resume-heading .social-btn-holder {
		padding: 5px;
	}
}


.btn-group col-sm-offset-2{
	position: relative; overflow: hidden; 
}
.btn-group #fileimg{
	position: absolute; right: 0px; top: 0px; opacity: 0; cursor: pointer;
}



/************** { BOARD } ****************/
/* ( board - common ) */
/* board buttons */
button {
	min-height:25px;
	min-width:60px;
	line-height:25px;
	font-family:inherit;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border-width:1px;border-radius:3px;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	text-shadow: 0 1px 1px rgba(255,255,255,.75);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
	color: #333;
}
/* heading-page */
.heading-page {
	margin: 0 0 25px;
	padding: 12px;
	font-size:16px;font-weight:700;
	/* border: 2px solid #D7EDE9; */
	box-shadow: 2px 2px 6px #E0E0E0;
	border-radius: 5px;
	color: #00624F;
}

/* title-board */
.title-board {
	position:relative;
	padding-left:32px;
	margin:0 0 10px -8px;
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	color: #1DA0A7;
}
.title-board:before {
	display:block;content:"";
	position:absolute;top:0;left:0;
	width:32px;height:32px;
	background: url(../img/bul_title_board.png) 0 -7px no-repeat;
}
/* board-form */
.board-form {
	margin-bottom:10px;
}
.board-form .left {float:left}
.board-form .right {float:right}
.board-form:after {display:block;content:"";clear:both}
/* ( board - list ) */
#wrap .board-list td , #wrap .board-list th {
	padding:5px;
}
#wrap .board-list thead, #wrap .board-write th {
	font-weight:700;
	text-align:center;
}
#wrap .board-list thead th,#wrap .board-list thead td,
#wrap .board-write th,#wrap .board-detail th {
	border: 1px solid #00856B;
	background-color: #0eb493;
	color: #fff;
}
#wrap .board-list tbody > tr > td.num,
#wrap .board-list tbody > tr > th.num {
	/* 첫번째 글번호 컬럼 */
	font-size:11px;
	background-color: #F4F6F5;
	text-align:center;
	color:#666;
}
.board-list thead td,.board-list thead th {
	background-color:#f1f1f1;
}
#content2 {
	width: 100%;
	text-align: center;
}
#content2 #stboardWriter {
	width: 850px;
	margin-left: 100px;
}

#content2 #stTitle,#stcontent {
	width: 100%;
	margin-top: 30px;
}
#content2 #stTitle tr td {
	height: 40px;
	font-size: 25px;
	background-color: #007bbe;
	color: #FFFFFF;
}
#content2 #stcontent thead td {
	height: 30px;
	background-color: #007bbe;
	color: #FFFFFF;
	font-size: 15px;
}
#content2 #stcontent tbody td {
	height: 30px;
	background-color: #FFFFFF;
	color: #7d7d7d;
}
/* 스타일에서 클래스를  중복해서 정의하기 위한방법 */
#content2 #stcontent .td {
	text-align: left;
	padding-left: 25px;
}
#content2 #stcontent .title input {width: 350px;}
#content2 #stcontent .instyle {
	background-color: #0099ff;
	height: 30px;
	color: #fff;
	font-weight: bold;
}
#content2 #stcontent .writer input {width: 250px;}
#content2 #stcontent .tel input {width: 100px;}
#content2 #stcontent .content textarea {
	width: 250px;height: 300px;
	text-align: left;
}
/* btn */
#content2 #stcontent .btn {
	height: 25px;width: 120px;
	font-weight:700;
	background-color: #f927a9;
	color: #fff;
}
/* paging */
.paging {
    text-align: center;

    padding: 15px 0;
    color: #6D6D6D;
}
.paging a {
    display: inline-block;
    padding: 1px 6px;
    margin: 0 3px;
    font-size: 11px;
    background-color: #F0F0F0;
    border-radius: 100px;
    color: #4C4C4C;
}
.paging a.now {
	font-weight:700;
	background-color: #30CEAF;
	color: #0D3E34;
}
/* ( board - detail ) */
#wrap .board-detail {
	font-family:Tahoma,"돋움",Dotum,sans-serif;
	font-size:12px;
	border: 1px solid #00856B;
	border-top-width: 3px;
}
#wrap .board-detail td, #wrap .board-detail th {padding:6px}
#wrap .board-detail th {
	padding-right:10px;
	border: 1px solid #00856B;
	background-color: #0eb493;
	text-align:right;
	color: #fff;
}
#wrap .board-detail td {
	border-right-color:#00856B;
	border-bottom-color: #BBD1C9;
}
#wrap .board-detail td:last-child {border-right:0 none}
#wrap .board-detail tbody.info td {background-color: #F8F8F8;}
#wrap .board-detail .board-detail-title {font-weight:700}
#wrap .board-detail .board-detail-article {
	padding:0;	
	color:#333;
	border-spacing: 0;
	vertical-align: top;
	border-bottom-color: #00856B;
}
#wrap .board-detail .board-detail-article > div {
	/* 본문 높이조절 : min-height  */
	min-height: 235px;
	
	max-height:500px;
	overflow-y:auto;
	margin:0;padding:17px;
	box-sizing: border-box;
}
#wrap .board-detail .board-detail-article div div {
	/* 본문 높이조절 : min-height  */
	min-height:200px;
	
	width: 700px;
	line-height:18px;
	word-break:break-all;
	white-space:pre-wrap;
}
/* ( board - write ) */
.board-write th {
	text-align:right;
	background-color: #F4F6F5;
}




/*************************** { COMMENT } **********************************/
.tit-comment {
	margin-top:40px;
	font-size:17px;
	font-weight:700;
}
/* comment-list */
.comment-list {
	margin: 20px 0;
	padding: 0;
	font-family:Verdana,"맑은고딕",MalgunGothic,"돋움",Dotum,sans-serif;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
.comment-list,.comment-list li {list-style:none}
.comment-list li {
	position:relative;
	padding: 15px 0;
	border-top: 1px solid #E3E3E3;
}
.comment-list li:nth-child(even) {background-color: #E8EFEE;}
.comment-list li:after {display:block;content:"";clear:both}
.comment-list li:first-child {margin:0}
.comment-list li > div {
	padding-left: 85px;
	box-sizing:border-box;
}
.comment-list .comment-img {
	position:absolute;
	top: 50%;
	left: 15px;
	width: 55px;
	margin-top: -27.5px;
	border-radius:100px;
	border: 2px solid #08AB8B;
	height: 55px;
	overflow: hidden;
}
.snscomment-img{
	position:absolute;
	top: 50%;
	left: 15px;
	width: 20px;
	height: 30px;
	margin-top: -27.5px;
	border-radius:100px;
	border: 1px solid #08AB8B;
	overflow: hidden;
}
.comment-list strong {
	display:block;
	width:100%;
	margin-bottom: 5px;
	float: left;
}
.comment-list p {
	float: left;
	max-width: 85%;
}
.comment-list .date {
	position:absolute;right:10px;
	top: 9px;
	font-size: 11px;
	color: #A4A4A4;
}
/* comment-write */
.comment-write textarea {
    float:left;
    width: 88.5%;
	
    padding: 10px;
    border-color: #9CC3BB;
    border-top: 2px solid #00856B;
    box-sizing: border-box;
    height: 90px;
}
.btn-comm {
	float:right;
	width:10%;
	height:90px;
	font-weight: 700;
	font-size: 15px;
}
.btn-snscomm{
	float:right;
	width:10%;
	height:30px;
	font-weight: 500;
	font-size: 11px;
}
.comment-btn {
	position:absolute;
	top: 32px;
	right: 5px;
	font-size:11px;	
}
.comment-btn button {
    min-width: 0;
    min-height: 0;
    line-height: 18px;
    padding-bottom: 2px;
}

/*********** button *************/

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

[class^="btn"].btn-outline {
    box-shadow: none;
    text-shadow: none;
    background-color:#fff;
	
}
.btn-danger.btn-outline {
    border-color: #d9534f;
    color: #d9534f;
}
.btn-primary.btn-outline {
    border-color: #204d74;
    color: #204d74;
}
.btn-success.btn-outline {
    border-color: #5cb85c;
    color: #4cae4c;
}

.btn-warning.btn-outline {
    border-color: #FFBB00;
    color: #FFBB00;
}
.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}





/*************************** { left-profile } **********************************/
.left-profile {
	border-color: #689799;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}
/* ( panel-heading ) */
.left-profile .panel-heading {
	background-color: #2DA3A9;
	color:#fff;
}
.left-profile .panel-body {
	background-color: rgba(237, 242, 242, 0.7);}
/* ( profile-img ) */
#wrap .profile-img {
	float: none!important;
	display:block;
	overflow:hidden;
	width: 90%;
	height: 140px;
	margin: 0 auto 9px;
	border: 1px solid #75A6A6;
}
.profile-img img {
	width:100%!important;height:auto!important;
	margin-top:-10px;
	border-radius:0;
}
/* ( profile-table ) */
#wrap .profile-table {
	width:90%;
	margin:auto;
	font-size:12px;
	border: 0 none;
}
#wrap .profile-table th , #wrap .profile-table td {
	padding:0;
	border:0 none;
	line-height: 20px;}
#wrap .profile-table th {
	position:relative;
	color:#066E74
}
#wrap .profile-table th:after {
	display:block;
	/* content:":"; */
	position:absolute;top:0;right:7px;
	font-weight:400;
	color: #C5C5C5;
}
#wrap .profile-table th strong {margin-left:0;}

/* ( left-menu ) */
.left-menu {
	border: 1px solid #689799;
	border-radius:0 0 5px 5px;
	margin-top: -21px;
	position: relative;
	z-index: 10;
	border-top-color: #E5E5E5;
}
.left-menu li {

	border-bottom: 1px solid #DDD;
	

	line-height: 35px;
}
.left-menu li:last-child {
	border-top:0 none;
}
.left-menu li a {
    padding-left: 20px;
    -webkit-transition: all .2s;
    transition: all .2s;
	
}
.left-menu li a.now, .left-menu li a:hover {
	font-weight:700;
	background-color: #F7F7F7;
	color: #007A62;
}



/*********** mail *************/
/*********** mail *************/

#mailmenu span{
	font-weight: bold;
	color: #31B0D5;
}

#mailContent span{
	font-weight: bold;
	font-size: 15pt;
}

#mailDetailContent{
	width: 970px;
}

#mailDetailContent hr{
	size: 2;
	width: 970px;
	align: left;
	
}



