@CHARSET "UTF-8";
#signWrap{
	width:800px;
	margin:auto;
	border: 1px solid;
}
#signTop{
	margin-top: 20px;
}
#signDocNum{
	width:200px;
	float: left;
}
#signDocNum input{
	width:100px;
	border: 0px;
}
#signImg{
	margin-left: 450px;
}
#signImg table tr{
	border: 1px solid;
}
#signImg table tr td{
	border: 1px solid;
}
#signImg table{
	border: 1px solid;
}
#signBody input{
	background:#ECF8E0;
}
#signBody table{
	width: 795px;
	margin-top:30px;
}
#signBody table tr td input{
	border:0px;
}
#stitle{
	width:500px;
	text-align: center;
}