<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  	<typeAliases>
  		<typeAlias type="com.sumware.dto.MemberVO" alias="mvo"/>
  		<typeAlias type="com.sumware.dto.BoardVO" alias="bvo"/>
  		<typeAlias type="com.sumware.dto.BnameVO" alias="bnvo"/>
  		<typeAlias type="com.sumware.dto.CommVO" alias="cvo"/>
  		<typeAlias type="com.sumware.dto.MailVO" alias="mavo"/>
  		<typeAlias type="com.sumware.dto.PageVO" alias="pvo"/>
  		<typeAlias type="com.sumware.dto.DeptVO" alias="dvo"/>
  		<typeAlias type="com.sumware.dto.SnsVO" alias="svo"/>
  		<typeAlias type="com.sumware.dto.TodoVO" alias="tvo"/>
  		<typeAlias type="com.sumware.dto.CalendarVO" alias="cavo"/>
  		<typeAlias type="com.sumware.dto.MessengerRoomVO" alias="mrvo"/>
  		<typeAlias type="com.sumware.dto.TodoJobVO" alias="tjvo"/>
  		<typeAlias type="com.sumware.dto.MessengerVO" alias="mevo"/>
  		<typeAlias type="com.sumware.dto.PayVO" alias="payvo"/>
  		<typeAlias type="com.sumware.dto.SignatureVO" alias="sgvo"/>
  		<typeAlias type="com.sumware.dto.SignFormVO" alias="sfvo"/>
  		<typeAlias type="com.sumware.dto.SignStepVO" alias="ssvo"/>
  		<typeAlias type="com.sumware.dto.PayHistoryVO" alias="phvo"/>
  		<typeAlias type="com.sumware.dto.CommissionVO" alias="comvo"/>
  		<typeAlias type="com.sumware.dto.ProductVO" alias="provo"/>
  	</typeAliases>
</configuration>